h1, h2, p, ul, li, a, div, footer {
    padding: 0; 
    margin: 0; 
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(28, 27, 26); 
}

a:hover {
    color: rgb(115, 109, 103); 
}

body {
    background-color: #F9F8F2; 
}

img {
    opacity: 0; 
}

#banner {
    background-image: url(./images/portal_banner_responsive.png); 
    background-size: cover;
    position: relative;
    
    height: 350px; 
}

header h1 {
    font-family: 'Carter One'; 
    font-size: 40px; 
    color: rgb(28, 27, 26);
    line-height: 1.3em; 

    position: absolute; 
    top: 30px;
    left: 25px; 
}

header h2 {
    font-family: 'Carter One'; 
    font-size: 16px;
    color: rgb(28, 27, 26); 
    text-align: right; 

    position: absolute;
    top: 160px;
    right: 20px; 
}

.content h2 {
    font-family: 'Carter One';
    font-size: 20px; 
    color: rgb(77, 54, 29); 


    text-align: center; 
}

.content ul li {
    font-family: 'EB Garamond'; 
    font-size: 18px; 
    color: rgb(28, 27, 26);  
    line-height: 2em; 
    text-align: left;

    border-left: solid;
    border-color: #3a1a05;
    border-width: 1.5px;
}

.content ul {
    width: 280px; 
    margin: auto; 

    padding-top: 15px; 
}

.content ul li {
    padding-left: 15px; 
}

.sections {
    margin-bottom: 40px; 
}

footer {
    background-image: url(./images/portal_footer.png); 
    background-size: cover;
    height: 140px; 
}

footer p, footer a {
    font-family: 'EB Garamond'; 
    text-align: center;
    color: #F9F8F2; 

    padding-top: 100px; 
}

/* media query for desktop */
@media only screen and (min-width: 600px) {
    body {
        max-width: 1100px; 
        margin: auto; 
        min-height: 100%; 
    }
    
    #banner {
        background-image: url(./images/portal_banner.png); 
        width: 1100px;
        height: 250px; 
        background-size: cover;
        margin: auto; 
    
        position: relative; 
    }

    header h1 {
        font-size: 45px; 
        text-align: left; 
    
        position: absolute;
        left: 160px; 
        top: 20px; 
    }

    img {
        opacity: 1; 
        position: absolute;
        left: 580px; 
        top: 22px; 
        cursor: pointer; 

        animation-name: change; 
        animation-iteration-count: infinite;
        animation-duration: 1.3s;
        animation-direction: alternate;

        transition: 1.8s ease-in-out; 
    }
    
    @keyframes change {
        from {
            transform: scale(0.8); 
        }
        to {
            transform: scale(1.2); 
        }
    }

    img:hover {
        rotate: 360deg;
        translate: 150px; 
    }

    header h2 {
        font-size: 20px;
    
        position: absolute;
        right: 160px;
        top: 95px; 
    }

    .content {
        margin: auto; 
        padding-left: 110px; 

        display: flex;
        justify-content: center;
        gap: 100px; 
        padding-top: 30px;
    }

    .content #studios {
        animation-name: colorChange1; 
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    @keyframes colorChange1 {
        0% {
            color: #e7693f; 
        }
        15% {
            color: #d4b177; 
        }
        30% {
            color: #DEE7E7; 
        }
        45% {
            color: #ADC698; 
        }
        60% {
            color: #247BA0; 
        }
    }

    .content #experiments {
        animation-name: colorChange2; 
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    @keyframes colorChange2 {
        0% {
            color: #8c4831; 
        }
        25% {
            color: #eb9b19; 
        }
        50% {
            color: #739797; 
        }
        75% {
            color: #9bc07d; 
        }
        90% {
            color: #7ca9bc; 
        }
    }

    .content #ex {
        animation-name: colorChange3; 
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    @keyframes colorChange3 {
        0% {
            color: #57a2cd; 
        }
        15% {
            color: #a4d277; 
        }
        30% {
            color: #8e9fd1; 
        }
        45% {
            color: #dc639b; 
        }
        60% {
            color: #b5b967; 
        }
    }

    .content #rd {
        animation-name: colorChange4; 
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    @keyframes colorChange4 {
        0% {
            color: #79afa2; 
        }
        10% {
            color: #273c13; 
        }
        20% {
            color: #b7c5ee; 
        }
        30% {
            color: #907682; 
        }
        40% {
            color: #7978cb; 
        }
    }

    .content #final {
        animation-name: colorChange5; 
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 20s;
    }

    @keyframes colorChange5 {
        0% {
            color: #cbc086; 
        }
        15% {
            color: #5d64a1; 
        }
        30% {
            color: #8b9e83; 
        }
        45% {
            color: #8eb9d5; 
        }
        60% {
            color: #de924c; 
        }
    }

    .sections {
        margin-bottom: 0; 
    }

    #experiments {
        margin-top: 40px; 
    }

    #foot {
        background-image: url(./images/portal_footer_desktop.png);  
        background-size: cover; 
        background-position: center bottom; 
        max-width: 1100px; 
    }

    #foot p, #foot a {
        letter-spacing: 1px;
    }
}