h1, h2, p, ul, li, a, div, footer {
    padding: 0; 
    margin: 0; 
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(28, 27, 26); 
}

a:hover {
    color: rgb(115, 109, 103); 
}

body {
    background-color: #F9F8F2; 
}

#banner {
    background-image: url(./images/portal_banner_responsive.png); 
    background-size: cover;
    position: relative;
    
    height: 350px; 
}

header h1 {
    font-family: 'Carter One'; 
    font-size: 40px; 
    color: rgb(28, 27, 26);
    line-height: 1.3em; 

    position: absolute; 
    top: 30px;
    left: 25px; 
}

header h2 {
    font-family: 'Carter One'; 
    font-size: 16px;
    color: rgb(28, 27, 26); 
    text-align: right; 

    position: absolute;
    top: 160px;
    right: 20px; 
}

.content h2 {
    font-family: 'Carter One';
    font-size: 20px; 
    color: rgb(77, 54, 29); 

    text-align: center; 
}

.content ul li {
    font-family: 'EB Garamond'; 
    font-size: 18px; 
    color: rgb(28, 27, 26);  
    line-height: 2em; 
    text-align: left;

    border-left: solid;
    border-color: #3a1a05;
    border-width: 1.5px;
}

.content ul {
    width: 280px; 
    margin: auto; 

    padding-top: 15px; 
}

.content ul li {
    padding-left: 15px; 
}

.sections {
    margin-bottom: 40px; 
}

footer {
    background-image: url(./images/portal_footer.png); 
    background-size: cover;
    height: 140px; 
}

footer p, footer a {
    font-family: 'EB Garamond'; 
    text-align: center;
    color: #F9F8F2; 

    padding-top: 100px; 
}

/* media query for desktop */
@media only screen and (min-width: 600px) {
    body {
        max-width: 1100px; 
        margin: auto; 
        min-height: 100%; 

        
    }
    

    #banner {
        background-image: url(./images/portal_banner.png); 
        width: 1100px;
        height: 250px; 
        background-size: cover;
        margin: auto; 
    
        position: relative; 
    }

    header h1 {
        font-size: 45px; 
        text-align: left; 
    
        position: absolute;
        left: 160px; 
        top: 20px; 
    }

    header h2 {
        font-size: 20px;
    
        position: absolute;
        right: 160px;
        top: 95px; 
    }

    .content {
        margin: auto; 
        padding-left: 110px; 

        display: flex;
        justify-content: center;
        gap: 100px; 
        padding-top: 30px;
    }

    .sections {
        margin-bottom: 0; 
    }

    #experiments {
        margin-top: 40px; 
    }

    #foot {
        background-image: url(./images/portal_footer_desktop.png); 
        background-size: contain; 
        background-position: center bottom; 
        max-width: 1100px; 
    }

    #foot p, #foot a {
        letter-spacing: 1px;
    }

}