body {
    background-image: url(./images/back.png);
    background-size: auto;
}

a {
    text-decoration: none;
    transition: color 0.2s ease; 
}

a:hover {
    color: rgb(156, 97, 25); 
}

h1 {
    font-family: 'Joti One', serif;
    font-size: 36px;
    color: rgb(13, 28, 65);
    text-align: center; 
    padding: 20px; 
    line-height: 0.8em; 
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
    color: rgb(13, 28, 65); 
    width: 180px; 
    height: 45px;
    background-color: rgb(251, 251, 244); 
    border-style: solid;
    border-color: rgb(162, 117, 214); 
    border-width: 2px; 
    border-radius: 24px;
    text-align: center; 
    display: block; 
    margin: auto; 

    transition: all 0.3s ease-out; 
}

button:hover {
    background-color: rgb(162, 117, 214); 
}

#overlay-welcome {
    display: border-box; 
    background-color: white;
    width: 600px; 
    height: 185px; 
    border-radius: 50px; 
    margin: auto;
    margin-top: 160px; 
    border-style: solid;
    border-width: 25px; 
    border-color: rgb(97, 123, 237);  
}

footer {
    display: flex;
    justify-content: space-around;
}

footer a, footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 300; 
    color: rgb(23, 14, 4); 
    font-size: 14px;
    line-height: 0.6em; 
}