h1, img, p, a, label, input, li {
    padding: 0; 
    margin: 0; 
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(153, 157, 164); 
}

li {
    list-style-type: none;
}

body {
    width: 1300px; 
    margin: auto; 
    background-image: url(./images/background.jpg);
}

header img {
    position: absolute;
    top: 10px;
    left: 70px; 
}

header nav ul {
    display: flex;
    justify-content: flex-start; 
    gap: 35px; 

    position: absolute;
    top: 30px;
    left: 250px; 
}

header nav ul li {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: white; 
    letter-spacing: 0.6px;
}

header nav ul li:hover {
    cursor: pointer; 
    color: rgb(160, 161, 162); 
}

main p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: white; 
    letter-spacing: 0.8px;

    padding-bottom: 10px; 
}

.films img {
    display: inline-block;
    transition: all 0.4s ease; 
}

.films img:hover {
    transform: scale(0.96); 
}

.films {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 7px; 
}

h1 {
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 60px; 

    padding: 50px; 
}

#block {
    background-color: rgb(4, 17, 34); 
    border-radius: 2.2em; 
    margin-top: 6.5em; 
    margin-bottom: 1.2em; 
    padding: 20px; 
    box-shadow: 10px 11px 19px -8px rgba(55,55,56,1);

    display: flex;
    justify-content: space-around;
}

#block form {
    display: grid;
    align-items: flex-start;
}

label, legend {
    font-family: 'Bebas Neue', sans-serif;
    color: white; 
    letter-spacing: 1px;
    margin-bottom: 0.3em; 
}

input {
    margin-bottom: 1.4em;
    width: 160px; 
    height: 20px; 
}

#submit {
    display: grid;
    align-self: center;
    position: relative;
}

#submit input {
    width: 290px;
    height: 50px; 
    border-style: none;
    border-radius: 10px; 
    background-color: rgb(219, 0, 0); 

    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 1.6px;
    text-align: center; 

    position: absolute;
    left: 190px; 
    box-shadow: 10px 11px 19px -8px rgba(55,55,56,1);

    transition: all 0.4s ease; 
}

#submit input:hover {
    transform: scale(1.1); 
    color: rgb(46, 50, 53); 
}

fieldset {
    border-style: none;
    padding: 0; 
    margin: 0; 
}

fieldset input {
    width: 40px; 
}

footer {
    display: flex; 
    justify-content: space-between;
}

footer p, footer a {
    color: rgba(230, 235, 239, 0.767);
    font-size: 14px; 
}