h1, img, p, a, label, input, li {
    padding: 0; 
    margin: 0; 
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(153, 157, 164); 
}

li {
    list-style-type: none;
}

body {
    width: 1300px; 
    margin: auto; 
    background-image: url(./images/background.jpg);
    background-size: cover;
}

header img {
    position: absolute;
    top: 10px;
    left: 70px; 
}

header nav ul {
    display: flex;
    justify-content: flex-start; 
    gap: 35px; 

    position: absolute;
    top: 35px;
    left: 250px; 
}

header nav ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white; 
}

header nav ul li:hover {
    cursor: pointer; 
    color: rgb(160, 161, 162); 
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white; 

    padding-bottom: 10px; 
}

.films img {
    display: inline-block;
    transition: all 0.4s ease; 
}

.films img:hover {
    transform: scale(0.96); 
}

.films {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 7px; 
}

h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(5, 12, 34); 
    font-size: 80px; 
    font-weight: lighter; 

    padding: 50px; 
}

#you {
    font-size: 80px; 
}

span {
    color: rgb(219, 0, 0); 
    font-weight: bolder; 
    font-size: 20px; 
    font-family: 'Playfair Display', serif;
}

#block {
    background-image: url(./images/poster_8.jpg); 
    background-size: cover;
    border-radius: 2.2em; 
    margin-top: 6.5em; 
    margin-bottom: 1.2em; 
    padding: 20px; 
    box-shadow: 10px 11px 19px -8px rgba(55,55,56,1);

    display: flex;
    justify-content: space-evenly;
}

#block form {
    display: grid;
    align-items: center;
}

label, legend {
    font-family: 'Open Sans', sans-serif;
    color: rgb(5, 12, 34); 
    margin-bottom: 0.5em; 
}

input {
    margin-bottom: 1.5em;
    padding: 3.5px; 
    width: 165px; 
    height: 25px; 
    border-style: none;
    border-radius: 5px;
}

input:focus {
    background-color: rgba(226, 231, 235); 
}

#submit {
    display: grid;
    align-items: center;
    position: relative;
}

#submit h2 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(5, 12, 34); 
    font-size: 18px; 
    letter-spacing: 1px;
    line-height: 1.6em; 
    position: absolute;
    top: 290px;
    left: 53px; 
}

#submit input {
    width: 330px;
    height: 52px; 
    border-style: none;
    border-radius: 10px; 
    background-color: rgb(5, 12, 34); ; 

    font-family: 'Open Sans', sans-serif;
    color: rgb(236, 229, 227); 
    font-size: 21px;
    text-align: center; 

    position: absolute;
    top: 220px; 
    left: 50px; 
    box-shadow: 10px 11px 19px -8px rgba(55,55,56,1);

    transition: all 0.4s ease; 
}

#submit input:hover {
    background-color: rgb(219, 0, 0); 
    transform: scale(1.1); 
    color: rgb(227, 232, 236); 
}

.h2styles {
    color: white; 
    font-size: 25px; 
}

footer {
    display: flex; 
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
}

footer p, footer a {
    color: rgba(230, 235, 239, 0.767);
    font-size: 14px; 
}